<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThesisManagementProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ThesisManagementProject.Properties.Settings>
            <setting name="conStr" serializeAs="String">
                <value>Data Source=HUY\SQLEXPRESS;Initial Catalog=ThesisManagement;Integrated Security=True;Encrypt=False</value>
            </setting>
        </ThesisManagementProject.Properties.Settings>
    </userSettings>
</configuration>